
#about-me-image {
  /* position: relative; */
  /* about me image */
  margin-top: 20px;
  width: 350px;
  height: 350px;
  align-items: center;
}

.about-me-text {
  /* about me text */
  font-family: "Maven Pro", sans-serif;
  /* font-weight: bold; */
  font-size: 17px;
  padding-bottom: 150px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
  text-align: center;
}

.about-me-content {
  text-align: center;
  margin: auto;
  padding-bottom: 150px;
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: Semi-bold;
  padding-bottom: 5px;
}

.about-me-para {
  padding-top: 30px;
}

/* Portfolio Images */

.port-images {
  width: 350px;
  height: 350px;
  margin: 30px;
}

h4 {
  margin-top:20px;
}
