#card {
  margin: 20px;
  display: relative;
  flex-direction: column;
  height: 100%;
}

#portfolioHeadline {
  font-size: 50px;
}

#portBtn,
#headline {
  font-family: "Maven Pro", sans-serif;
}

#headline {
  margin-top: 0px;
  margin-bottom: 50px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


@media only screen and (max-width: 768px) {
  #headline {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}
