#form {
    margin-left: 10%;
    margin-right: 10%;
}

/* Contact Button Styling */
.btn {
    margin-bottom: 30px;
    background-color: #e28c53;
    border: 0 none;
    border-radius: 0;
    text-align: center;
  }
  
  .btn:hover {
      background-color: #ca6d2f;
  }
  
  a {
    font-family: Maven-Bold, "serif";
    font-size: 23px;
    color: #3b3b3b;
    padding: 10px;
  }
  
  a:hover {
    color: #8b8b8a;
    text-decoration: none !important;
  }

@media only screen and (max-width: 768px) {

    #form {
        margin-left: 40px;
        margin-right: 40px;
    }
  }