/* Nav Bar */

.navbar-brand {
  /* background-color: #4aaaa5; */
  /* color: white !important; */
  font-family: "Maven Pro", sans-serif;

  font-size: 30px;
  margin-left: 1%;
  background-color: transparent;
  color:#3b3b3b;
}

.nav-link {
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  color: #3b3b3b;
}
