/* FOOTER */

.footer {
  padding: 20px 0;
  background-color: #3b3b3b;
  border-top: 5px solid #e28c53;
  color: #8b8b8a;
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 1em;
}